@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    font-family: 'DM Serif Display', serif;
}
body {
    background-color: #f2f2f2;
}

.department-model {
    margin-top: 90px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.departments-container {
    margin-top: 50px;
}

.get-btn {
    font-size: 50px;
    background-color: #f2f2f2;
    color: #4e709d;
    border: none;
    cursor: pointer;
}

.get-icon svg {
  color: #4e709d;
}

.add-members {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.add-input {
    margin:10px ;
    border-radius: 5px;
    border: none;
    height: 30px;
    text-align: center;
}

.add-btn {
    margin: 10px;
}